[submodule "telegram-bot"]
	path = telegram-bot
	url = https://github.com/project-skedule/telegram-bot.git#v2.3.0
[submodule "api"]
	path = api
	url = https://github.com/project-skedule/api.git#v2.3.0
[submodule "frontend-app"]
	path = frontend-app
	url = https://github.com/project-skedule/frontend-app.git#v0.0.1
[submodule "frontend-landing"]
	path = frontend-landing
	url = https://github.com/project-skedule/frontend-landing.git#0.0.1
